// font family
$HelveticaNeue: "arial";
$HelveticaNeue-Medium: "arial";
$HelveticaNeue-Light: "arial";
// $HelveticaNeue: "HelveticaNeue";
// $HelveticaNeue-Medium: "HelveticaNeue-Medium";
// $HelveticaNeue-Light: "HelveticaNeue-Light";

.fw-500 {
    font-weight: 500;
    font-family: $HelveticaNeue-Medium;
}

.fw-normal {
    font-weight: normal;
}

.fw-bold {
    font-weight: bold;
}


// @font-face {//     font-family: "HelveticaNeue";
//     src: url("../assets/fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"),
//         url("../assets/fonts/HelveticaNeue.woff") format("woff"),
//         url("../assets/fonts/HelveticaNeue.ttf") format("truetype"),
//         url("../assets/fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "HelveticaNeue-Bold";
//     src: url("../assets/fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"),
//         url("../assets/fonts/HelveticaNeue-Bold.woff") format("woff"),
//         url("../assets/fonts/HelveticaNeue-Bold.ttf") format("truetype"),
//         url("../assets/fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "HelveticaNeue-Italic";
//     src: url("../assets/fonts/HelveticaNeue-Italic.eot?#iefix") format("embedded-opentype"),
//         url("../assets/fonts/HelveticaNeue-Italic.woff") format("woff"),
//         url("../assets/fonts/HelveticaNeue-Italic.ttf") format("truetype"),
//         url("../assets/fonts/HelveticaNeue-Italic.svg#HelveticaNeue-Italic") format("svg");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "HelveticaNeue-Light";
//     src: url("../assets/fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"),
//         url("../assets/fonts/HelveticaNeue-Light.woff") format("woff"),
//         url("../assets/fonts/HelveticaNeue-Light.ttf") format("truetype"),
//         url("../assets/fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "HelveticaNeue-Medium";
//     src: url("../assets/fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"),
//         url("../assets/fonts/HelveticaNeue-Medium.woff") format("woff"),
//         url("../assets/fonts/HelveticaNeue-Medium.ttf") format("truetype"),
//         url("../assets/fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
//     font-weight: normal;
//     font-style: normal;
// }