//dropdown filter_select "Chọn theo" in Introduce, Home layout,...
.filter_select {
    position: relative;
    bottom: 51%;
    float: right;
    display: inline-flex;
    .text {
        margin: auto;
        padding-right: 10px;
        color: #9a9a9a;
        font-size: 16px;
        line-height: 1.19;
        display: inline;
    }
    .filter_project {
        margin: auto;
        width: 130px;
        margin-top: -2px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13);
        // border: solid 1px #dee2e6;
        background-color: #ffffff;
        .select2 {
            .select2-selection.select2-selection--single {
                border-radius: 0;
                height: 36px;
                border: none;
                outline: none;
            }
            &.select2-container {
                width: 100% !important;
            }
        }

        b {
            display: none;
        }
        .select2-selection__rendered {
            // padding: 6px;
            padding-left: 15px;
            line-height: normal;
            height: 100%;
            @include flexbox;
            @include align-items(center);
        }

        .select2-selection__arrow {
            top: 0;
            height: 100%;
            @include flexbox;
            @include align-items(center);
            b:before{
                display: none;
            }
        }
        .select2-selection__arrow::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 16px;
            opacity: 1;
            content: "\f107";
            color: #51c471;
        }
        .select2.select2-container.select2-container--default.select2-container--below.select2-container--focus.select2-container--open {
            .select2-selection__arrow::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 16px;
                opacity: 1;
                content: "\f106";
                color: #51c471;
            }
        }
    }
    .select2-results__option .select2-results__option--highlighted {
        background: #51c471 !important;
    }
}
@media only screen and (max-width: 768px) {
    .row_heading .filter_select {
        bottom: 10%;
    }
}
