.hot_product{
    .project_page--filter 
    {
        .search_option li {margin-right: 2.5%;}
    }
    .striking_apartment.label_filter{
        padding-top: 0;
        padding-bottom: 0;
        .label_filter--heading{
            margin-bottom: 0;
        }
    }
    .pagination{
        margin-top: 0;
    }
} 
