.juridical {
    background-color: #f3f4f9;
    padding: 85px 0px 91px;
    @media screen and (max-width: 767px) {
        padding: 45px 0px 45px;  
    }

    .main_heading {
        padding-bottom: 40px;
        @media screen and (max-width: 767px) {
            padding-bottom:20px;
        }
    }
    input {
        height: 48px;
        margin-top: 10px;
        border: solid 1px #e0e0e0;
        padding: 15px 33px 15px 13px;
        font-size: 14px;
    }
    .icon_collapse {
        font-size: 24px;
        font-weight: 900;
        color: #ffffff;
        cursor: pointer;
        &::before {
            background-color: #51c471;
            border-radius: 50% 50%;
            padding: 8px 9px;
            font-size: 12px;
            position: relative;
            bottom: 5px;
            @media screen and (max-width: 767px) {
                padding: 6px 7px;
            }

            
        }
    }

    &__content{
        .card{
            border-radius: 0;
            border: none;
            padding: 22px;
            padding-right: 10px;
            &:not(:first-child) {
                margin-top: 24px;
                @media screen and (max-width: 767px) {
                    margin-top: 15px;
                }
            }

            @media screen and (max-width: 767px) {
                padding: 20px;
                padding-right: 8px;
            }
        }
        .card-header {
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between); 
            background-color: #fff;
            border-radius: 0;
            border: none;
            padding: 0;
            padding-right: 10px;
            .title{
                color: #0d0d0d;
                font-size: 26px;
                font-weight: 500;
                font-family: $HelveticaNeue-Medium;
                margin-bottom: 0;
                line-height: normal;
                @media screen and (max-width: 767px) {
                    font-size: 20px;
                }
                @media screen and (max-width: 480px) {
                    font-size: 18px;
                    padding-right: 15px;
                }  
            }
        }
        .collapse {
            display: none;
            padding-top: 12px;
            color: #656565;
            line-height: 1.43;
            max-height: 500px;
            overflow-y: auto;
            text-align: justify;
            padding-right: 15px;
            &::-webkit-scrollbar {
                width: 7px;
            }
            
            &::-webkit-scrollbar-thumb {
                border-radius: 94px;
                background-color: #e0e0e0;
            }
        }
        .icon_action{
            line-height: normal;
        }
        .content_detail {
            &--title {
                font-size: 16px;
                color: #0d0d0d;
                padding-bottom: 10px;
                font-family: $HelveticaNeue-Medium;
                font-weight: 500;
               
                i {
                    font-size: 8px;
                    color: #6d30ab;
                    position: relative;
                    bottom: 2px;
                    padding-right: 5px;
                }
                
            }
            &--detail {
                padding-left: 20px;

                .dots {
                    span {
                        color: #0d0d0d;
                    }
                    .fa-circle {
                        font-size: 7px;
                        padding: 0px 10px;
                        color: #9a9a9a;
                    }
                    p {
                        padding-left: 30px;
                        margin-bottom: 8px;
                    }
                }
            }
        }
            
    }
    &__menu {
        background-color: #ffffff;
        padding: 38px 40px 48px 40px;
        @media screen and (max-width: 767px) {
            padding: 32px 35px 40px 35px;
        }
        @media screen and (max-width: 767px) {
            padding: 28px 30px 38px 30px;
        }
        ul {
            list-style: none;
            padding-left: 0;
            padding-top: 0;
            i {
                color: #6d30ab;
            }
            li {
                padding-top: 10px;
                a {
                    color: #0d0d0d;
                    font-size: 16px;
                }
                &.active {
                    a {
                        color: #6d30ab;
                    }
                }
            }
        }
        .search {
            font-weight: 500;
            position: relative;
            .text {
                font-size: 18px;
                font-family: $HelveticaNeue-Medium;
            }
            i {
                position: absolute;
                right: 15px;
                color: #51c471;
                bottom: 15px;
            }
        }
        &--title {
            color: #0d0d0d;
            font-size: 24px;
            font-weight: 500;
            font-family: $HelveticaNeue-Medium;
            margin-bottom: 0;
            @media screen and (max-width: 767px) {
                font-size: 20px;
            }
            @media screen and (max-width: 480px) {
                font-size: 18px;
            }
        }
    }
    &__advisory {
        padding: 38px 40px 30px 40px;
        box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.13);
        background-image: linear-gradient(157deg, #6d30ab 1%, #4a3bcc 121%);
        @media screen and (max-width: 767px) {
            padding: 32px 35px 40px 35px;
        }
        @media screen and (max-width: 767px) {
            padding: 28px 30px 20px 30px;
        }
        &--title {
            color: #ffffff;
            font-size: 24px;
            font-weight: 500;
            font-family: $HelveticaNeue-Medium;

            @media screen and (max-width: 767px) {
                font-size: 20px;
            }
            @media screen and (max-width: 480px) {
                font-size: 18px;
            }
        }
        textarea {
            min-height: 250px;
            border: solid 1px #9a9a9a;
            padding: 15px 13px;
        }
        button {
            margin-top: 25px;
        }
    }
}
