.loan_online{
    padding-top: 80px;
    padding-bottom: 90px;
    @media(max-width: 767px) {
        padding: 50px 0;
    }

    .main_heading{
        padding-bottom: 40px;
        margin: 0;
        @media(max-width: 767px) {
            padding-bottom: 20px;
        }
    }

    &--process{
        @media(max-width: 991px) {
            padding-bottom: 24px;
        }
        .heading{
            @include flex_center;
            padding: 20px;
            font-size: 24px;
            font-weight: 500;
            font-family: $HelveticaNeue-Medium;
            text-align: center;
            color: #ffffff;
            line-height: normal;
            background-image: linear-gradient(106deg, #6d30ab 7%, #4a3bcc 93%);
            .number{}
            .icon_info{
                font-size: 16px;
                color: #ffffff;
                padding-left: 8px;
            }
        }

        .graph_info{
            background-color: #fff;
            padding: 25px 25px 40px 25px;
        }

        .graph_status{
            margin-bottom: 10px;
            .status{
                letter-spacing: 0.42px;
                color: #656565;
                padding-left: 11px;
                position: relative;
                display: block;
                line-height: normal;
                margin-bottom: 10px;
                &::before{
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 5px;
                    background-color: #ddd;
                    left: 0;
                    top: 7px;
                }
                b{
                    font-size: 20px;
                    font-family: $HelveticaNeue-Medium;
                    font-weight: 500;
                    letter-spacing: 0.6px;
                    color: #0d0d0d;
                    display: block;
                    @media(max-width: 1199px){
                        font-size: 18px;
                    }
                }
                &01{
                    &::before{
                        background-color: #51c471;
                    }
                }
                &02{
                    &::before{
                        background-color: #f7b84b;
                    }
                }
                &03{
                    &::before{
                        background-color: #656565;
                    }
                }
            }
        }
    }

    &--step{
        margin-left: 12%;
        .step{
            @include flexbox;
            @include align-items(center);
            @include transition(all 0.2s ease);
            margin-bottom: 25px;
            
            &.active{
                margin-left: -3px;
                padding-top: 5px;
                padding-bottom: 5px;
                .symbol{
                    
                    &::before{
                        top: calc(-50% - 5px);
                    }
                    &::after{
                        bottom: calc(-50% - 5px);
                    }
                }
                .icon{
                    color: #fff;
                    width: 50px;
                    height: 50px;
                    border: none;
                    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.35);
                    background-image: linear-gradient(to bottom, #6d30ab, #4a3bcc);
                }
                .text{
                    font-size: 18px;
                    font-family: $HelveticaNeue-Medium;
                    font-weight: 500;
                    letter-spacing: 0.54px;
                    color: #0d0d0d;
                }
            }

            &.done{
                .symbol{
                    border-color: #51c471;
                    &::before{
                        width: 3px;
                        background-color: #51c471;
                    }
                }
                .icon{
                    background-color: #51c471;
                    border-color: #51c471;
                    color: #fff;
                    font-size: 20px;
                    &::before{
                        content: "\f00c";
                    }
                }
            }

            &:first-child{
                .symbol{
                    &::before{
                        display: none;
                    }
                }
            }
            &:last-child{
                .symbol{
                    &::after{
                        display: none;
                    }
                }
            }

            .symbol{
                @include transition(all 0.2s ease);
                border-radius: 50%;
                margin-right: 15px;
                position: relative;
                background-color: #fff;
                z-index: 1;
               
                &::before,&::after{
                    @include transform(translateX(-50%));
                    @include transition(all 0.2s ease);
                    position: absolute;
                    content: '';
                    width: 2px;
                    height: 60%;
                    background-color: #e0e0e0;
                    left: 50%;
                }
                &::before{
                    top: -60%;
                }
                &::after{
                    bottom: -60%;
                }
            }
            .icon{
                @include transition(all 0.2s ease);
                @include flex_center;
                width: 44px;
                height: 44px;
                font-size: 23px;
                color: #0d0d0d;
                border-radius: 50%;
                border: solid 2px #e6e6e6;
                position: relative;
                z-index: 1;
            }
            .text{
                @include transition(all 0.2s ease);
                font-size: 16px;
                letter-spacing: 0.48px;
                color: #656565;
            }
        }
    }

    &--wrap{
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: visibility 0s linear 0.33s, opacity 0.33s;
        &.active{
            height: auto;
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
        }
    }

    &--item{
        background-color: #ffffff;
        padding: 16px 24px;
        padding-bottom: 24px;
        margin-bottom: 20px;

        .heading{
            font-family: $HelveticaNeue-Medium;
            font-size: 22px;
            font-weight: 500;
            color: #6d30ab;
            margin-bottom: 6px;
        }

        .sub_heading{
            font-family: $HelveticaNeue-Light;
            font-weight: 300;
            font-style: italic;
            color: #6d30ab;
            text-transform: uppercase;
            margin-bottom: 6px;
        }

        .date_month{
            @include flexbox;
            @include justify-content(space-between);
           .input-group{
               width: calc(50% - 3px);
           }
            .input-group-append{
                background-color: transparent;
                width: auto;
            }
            .form-control{
                border-right: none;
                padding: 0 2px;
                text-align: center;
            }
            .input-group-text{
                color: #0d0d0d;
                padding: 3px 9px;
                background: transparent;
                border-left: none;
            }
        }

        .add_new{
            font-family: $HelveticaNeue-Light;
            font-weight: 300;
            font-style: italic;
            color: #51c471;
            margin-top: 6px;
            display: inline-block;
        }

        .col-50{
            @include flexbox;
            @include justify-content(space-between);
            .child{
                width: calc(50% - 5px) !important;
            }
        }

        .list_checkbox .checkbox-inline:not(:first-child){
            margin-left: 50px;
        }

        .table_purple{
            margin-bottom: 25px;
            table{
                width: 880px;
            }
            .form-group{
                max-width: 150px;
                max-height: 35px;
                .select2-container--default .select2-selection--single{
                    height: 35px !important;
                    line-height: 35px;
                    padding: 0;
                    .select2-selection__rendered {
                        padding-left: 10px;
                        height: 100%;
                    }
                }
                .form-control{
                    height: 35px;
                    line-height: 35px;
                }
                .input-group-append .input-group-text{
                    height: 35px;
                    line-height: 35px;
                    font-style: italic;
                    font-size: 12px;
                    font-family: $HelveticaNeue-Light;
                    letter-spacing: 0.36px;
                    color: #0d0d0d;
                }
            }
            th{
                white-space: nowrap;
            }
            .last{
                td{
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }

        }

        .checkYesNo{
            border-radius: 6px;
            border: solid 1px #f3f3f3;
            background-color: #f3f3f3;
            overflow: hidden;
            @include flexbox;
            .checkbox-inline{
                
                background-color: #f3f3f3;
                padding-left: 0;
                font-size: 12px;
                color: #656565;
                width: 45px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                margin-bottom: 0;
                &.active{
                    color: #fff;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
                    background-color: #51c471;
                }
            }
            .checkbox-custom-dummy{
                display: none;
                &::before,&::after{
                    display: none;
                }
            }
        }

        .icon_more{
            font-size: 18px;
            cursor: pointer;
            color: #6d30ab;
        }

        .dropdown-menu{
            max-width: 140px;
            border-radius: 0;
            box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.13);
            border: solid 1px #e0e0e0;
            background-color: #ffffff;
            float: none;
            margin: 0;
            padding: 0;
            min-width: auto;
            transform: translate3d(-105px,35px,0px)!important;
            &::before{
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                border: 1px solid #ddd;
                background-color: #fff;
                top: -7px;
                right: 8px;
                z-index: 0;
                @include transform(rotate(45deg));
            }
            .dropdown-item{
                padding: 8px 15px;
                color: #0d0d0d;
                position: relative;
                z-index: 1;
                background: #fff;
                font-size: 14px;
                &:not(:last-child){
                    border-bottom: solid 1px #e0e0e0;
                }
                
            }
            .icon_dropdown {
                margin-right: 7px;
                font-size: 12px;
            }
            .edit{
                color: #51c471;
            }
            .delete{
                color: #e94c4c;
            }
        }
    }

    &--profile_code{
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        @include box-shadow(0 0 20px 0 rgba(0, 0, 0, 0.13));
        padding: 16px 24px;
        margin-bottom: 24px;
        background-color: #fff;
        .code{
            @include flexbox;
            @include flex-direction(column);
            font-size: 16px;
            letter-spacing: 0.48px;
            color: #656565;
            margin: 0;
            line-height: normal;
            .number{
                font-size: 28px;
                font-weight: 500;
                font-family: $HelveticaNeue-Medium;
                letter-spacing: 0.84px;
                color: #4a3bcc;
                width: 100%;
                margin-top: 3px;
            }
        }
        .img{
            max-width: 150px;
            img{
                width: 100%;
            }
        }
    }

    &--profile_info{
        margin-bottom: 24px;
        @include flexbox;
        @include justify-content(space-between);
        @media(max-width: 767px){
            @include flex-direction(column);
        }
        .item{
            width: calc((100% / 3) - 15px);
            @media(max-width: 767px){
                width: 100%;
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }

        .top{
            @include flexbox;
            border-bottom: 1px solid #ddd;
            margin-bottom: 12px;
        }
        .bottom{
            padding: 0;
            list-style: none;
            margin: 0;
            li{
                color: #0d0d0d;
                padding-left: 12px;
                position: relative;
                &:not(:last-child){
                    margin-bottom: 7px;
                }
                &::before{
                    position: absolute;
                    content: "\f621";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 7px;
                    color: #6d30ab;
                    left: 0;
                    top: 5px;
                }
            }
            .label{
                position: relative;
                
                font-size: 12px;
                color: #9a9a9a;
                display: block;
               
            }
        }
        .icon{
            @include flex_center;
            width: 35px;
            height: 35px;
            border-radius: 5px;
            
            font-size: 18px;
            color: #ffffff;
            &_1{
                background-color: #5480f9;
            }
            &_2{
                background-color: #a8c200;
            }
            &_3{
                background-color: #fd7e14;
            }
           
        }
        .text{
            margin-left: 14px;
            line-height: normal;
            padding-bottom: 15px;
            
            flex: 1;
            &-1{
                color: #656565;
            }
            &-2{
                font-family: $HelveticaNeue-Medium;
                font-size: 20px;
                font-weight: 500;
                color: #0d0d0d;
                padding-top: 2px;
                display: inline-block;
                width: 100%;
            }
        }
        .item{
            background-color: #ffffff;
            padding: 20px 24px;
        }
    }

    &--profile_income{
        background-color: #fff;
        margin-bottom: 24px;
        padding: 25px 24px;
        .tbl_heaing{
            @include flexbox;
            @include justify-content(space-between);
            @include align-items(center);
            background-color: #f6f6f6;
            padding:11px 14px;
            .text{
                font-size: 16px;
                color: #0d0d0d;
            }
            .icon_edit, .icon_add{
                font-size: 16px;
                color: #6d30ab;
                cursor: pointer;
            }
        }
        table{
             min-width: 680px;
            td{
                color: #656565;
                font-size: 16px;
            }
            th:last-child{
                padding-right: 17px;
            }
            th:nth-child(3),td:nth-child(3){
                text-align: right;
            }
        }
        .form-control{
            padding: 0 15px;
            line-height: 35px;
            height: 35px;
            &[readonly]{
                border: none;
                background-color: #fff;
                text-align: right;
                padding-right: 0;
            }
        }
        .select2-container--default .select2-selection--single{
            height: 35px !important;
            line-height: 35px;
            padding: 0;
            .select2-selection__rendered {
                padding-left: 10px;
                height: 100%;
            }
        }

        .near-heading{
            td{
                border-bottom: none;
            }
        }
        .data-last{
            td{
                font-weight: 500;
                color: #e94c4c;
                font-family: $HelveticaNeue-Medium;
            }
        }
    }

    &--profile_summary{
        @include flexbox;
        margin-bottom: 25px;
        width: 100%;
        @media(max-width:767px){
            @include flex-direction(column)
        }
        
        .detail{
            width: 66.625%;
            @media(max-width:767px){
                width: 100%;
                order: 2;
            }
        }
        .item{
            @include flexbox;
            @include justify-content(space-between);
            @include align-items(center);
            background-color: #ffffff;
            padding: 5px 24px;
            &:not(:last-child){
                border-bottom: 1px solid #ddd;
            }
        }
        .title{
            font-size: 16px;
            color: #656565;
        }
        .value{
            font-size: 16px;
            font-family: $HelveticaNeue-Medium;
            font-weight: 500;
            letter-spacing: 0.48px;
            color: #0d0d0d;
        }
        .money{
            @include flex_center;
            @include flex-direction(column);
            background-image: linear-gradient(121deg, #6d30ab 6%, #4a3bcc 98%);
            text-align: center;
            font-size: 16px;
            letter-spacing: 0.48px;
            color: #ffffff;
            width: 33.375%;
            line-height: normal;
            @media(max-width:767px){
                width: 100%;
                padding: 15px 10px;
               
            }
            .number{
                font-size: 32px;
                font-weight: bold;
                letter-spacing: 0.96px;
                color: #ffffff;
                margin-top: 5px;
                display: block;
            }
        }

    }

    &--btn{
        text-align: right;
        @media(max-width: 991px) {
            text-align: center;
        }
        .btn{
            max-width: 145px;
            width: 100%;
            @media(max-width: 991px) {
                margin-bottom: 10px;
            }
            &:not(:last-child){
                @media(min-width: 992px) {
                    margin-right: 10px;
                }
            }
           
        }
    }

}