.map{
    @media(max-width:1199px){
        background-color: #f3f4f9;
    }
    &_origin{
        position: relative;
        
        &--content{
            position: absolute;
            width: 100%;
            left: 50%;
            top: 50%;
            @include transform(translate(-50%,-50%));
            @media(max-width:1199px){
                @include transform(none);
                position: static;
                padding: 50px 20px;
            }
            .heading{
                margin-bottom: 27px;
                font-weight: bold;
                font-size: 48px;
                color: #ffffff;
                text-shadow: 0 7px 10px rgba(0, 0, 0, 0.6);
                @media(max-width:1199px){
                    font-size: 43px;
                    color: #6d30ab;
                    text-shadow: none;
                }
                @media(max-width:480px){
                    font-size: 30px;
                }
            }
            .list_button{
                a{
                    margin: 0 10px;
                    min-width: 152px;
                    text-align: center;
                    display: inline-block;
                    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.4);
                    @media(max-width:480px){
                        width: 48%;
                        max-width: 152px;
                        min-width: auto;
                        margin: 0 5px;
                    }
                }
            }
        }
    }
    &_search{

        .has_bg{
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            @media(max-width: 1199px){
                height: 390px;
            }
        }
        .bg_image{
            background-size: 100% auto;
            background-position: top center;
        }
        &--content{
            max-width: 515px;
            width: 100%;
            margin-left: auto;
            margin-right: 45px;
            padding: 140px 0;
            @media(max-width:1199px){
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                padding: 50px 20px;
                max-width: 620px;
            }
            .heading{
                color: #ffffff;
                font-size: 40px;
                font-weight: normal;
                margin-bottom: 30px;
                text-align: left;
            }
            .select2-container .select2-selection--single{
                height: auto;
                padding: 8px;
                border-radius: 0;
                border: none;
            }
            .select2-container--default.select2-container--open 
            .select2-selection--single .select2-selection__arrow b{
                border: none;
            }
            .select2-container--default .select2-selection--single .select2-selection__arrow {
                @include flexbox;
                height: 100%;
                b{
                    border: none;
                    position: relative;
                    margin: 0;
                    left: 0;
                    &::before{
                        position: absolute;
                        content: "\f078";
                        font-weight: 900;
                        font-family: 'Font Awesome 5 Free';
                        font-size: 12px;
                        top: 50%;
                        @include transform(translateY(-50%));
                    }
                }
            }
            .select2-container--default.select2-container--open{
                .select2-selection__arrow{
                    b::before{
                        content: "\f077";
                    }	
                }
            }
            .select2-container{
                width: 100% !important;
            }
        }
        &--range{
            margin-top: 32px;
            margin-bottom: 22px;
            @include slider_range;
        }
        &--option{
            @include flexbox;
            @media(max-width:480px){
                @include flex-direction(column);
            }
            .btn_green{
                margin-left: 18px;
                box-shadow: none;
                @media(max-width:480px){
                    margin: 0;
                    margin-top: 15px;
                    text-align: center;
                    padding: 5px;
                    width: 100%;
                }
            }
            .search_option{
                flex: 1;
                li{
                    width: 100%;
                }
            }
        }
    }
    &_tab{
        display: none;
        &.active{
            display: block;
        }
    }
}