.overview{
    padding: 80px 0;
    @media(max-width:767px){
        padding: 50px 0;
    }
    &_heading{
        font-size: 40px;
        font-weight: normal;
        text-align: center;
        color: #0d0d0d;
        max-width: 775px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 45px;
        @media(max-width:480px){
            font-size: 25px;
        }
        .sub{
            font-family: $HelveticaNeue-Light;
            font-weight: 300;
            font-style: italic;
            display: block;
            margin-top: 30px;
            color: #9a9a9a;
            font-size: 20px;
            @media(max-width:480px){
                margin-top: 15px;
                color: #9a9a9a;
                font-size: 16px;
            }
        }
    }
    &_services{
        @include flexbox;
        @include justify-content(center);
        text-align: center;
        @media(max-width:767px){
            @include flex-direction(column);
        }
        .item{
            padding-top: 20px;
            position: relative;
            @media(max-width:767px){
                padding: 0;
                &:not(:last-child){
                    padding-bottom: 100px !important;
                }
                
            }
            @mixin lineBeforeAfter {
                position: absolute;
                content: '';
                background-color: #6d30ab;
                width: calc(50% - 70px);
                height: 1px;
                top: 40px;
                @media(max-width:767px){
                    height: 80px;
                    width: 1px;
                    left: 50%;
                    @include transform(translateX(-50%))
                }
            }
            &:nth-child(1){
                &::after{
                    @include lineBeforeAfter;
                    right: 0;
                    @media(max-width:767px){
                        bottom: 10px;
                        top: auto;
                    }
                }
            }
            &:nth-child(2){
                padding: 20px 5.208vw 0 5.208vw;
                &::before,&::after{
                    @include lineBeforeAfter;
                }
                &::before{
                    left: 0;
                    @media(max-width:767px){
                        display: none;
                    }
                }
                &::after{
                    right: 0;
                    @media(max-width:767px){
                        right: 0;
                        bottom: 10px;
                        top: auto;
                    }
                }
            }
            &:nth-child(3){
                @media(max-width:767px){
                    padding-top: 20px;
                }
                &::after{
                    @include lineBeforeAfter;
                    left: 0;
                    @media(max-width:767px){
                        display: none;
                    }
                }
            }
        }
        .number{
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            width: 37px;
            height: 37px;
            background-color: #6d30ab;
            border-radius: 50%;
            position: relative;
            margin: 0 auto;
            margin-bottom: 40px;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            position: relative;
            z-index: 1;
            @media(max-width:767px){
                margin-bottom: 35px;
            }
            &::before,&::after{
                position: absolute;
                content: '';
                background-color: #6d30ab;
                border-radius: 50%;
                z-index: -1;
            }
            &::before{
                width: 57px;
                height: 57px;
                opacity: 0.35;
                left: -10px;
                top: -10px;
            }
            &::after{
                width: 77px;
                height: 77px;
                opacity: 0.2;
                left: -20px;
                top: -20px;
            }
        }
        .title{
            color: #0d0d0d;
            font-size: 20px;
            font-weight: bold;
            font-family: $HelveticaNeue-Medium;
            margin-bottom: 17px;
            @media(max-width:992px){
                font-size: 18px;
            }
            @media(max-width:767px){
                margin-bottom: 5px;
            }
        }
        .text{
            font-family: $HelveticaNeue-Light;
            max-width: 312px;
            font-size: 14px;
            color: #656565;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &_parts{
        @include flexbox;
        @include flex_wrap(wrap);
        max-width: 870px;
        margin: 0 auto;
        padding-top: 30px;
        .item{
            @include flex_center;
            width: 25%;
            @media(max-width: 991px){
                @include justify-content(flex-start);
                width: 50%;
                padding-left: 13%;
            }
            @media(max-width: 767px){
                padding-left:5%;
            }
            @media(max-width: 480px){
                padding-left:18%;
                width: 100%;
            }
        }
        .icon{
            @include flex_center;
            width: 46px;
            height: 46px;
            border-radius: 50%;
            background-color: rgba(109, 48, 171, 0.35);
            position: relative;
            &::before{
                position: absolute;
                content: '';
                width: 34px;
                height: 34px;
                background-color: #6d30ab;
                top: 50%;
                left: 50%;
                border-radius: 50%;
                @include transform(translate(-50%,-50%));
            }
            i{
                color: #ffffff;
                position: relative;
                z-index: 1;
            }
        }
        .title{
            color: #0d0d0d;
            font-size: 20px;
            padding-left: 13px;
            text-transform: uppercase;
        }
    }
}