
.recruitment{
    &--content{
        .item{
            @include transition(all 0.3s);
            background-color: #ffffff;
            padding: 20px 18px;
            margin-bottom: 24px;
            height: 100%;
            &:hover{
                @include box-shadow(0 0 30px 0 rgba(0,0,0,0.12));
            }
            .information{
                .position{
                    color: #0d0d0d;
                    font-size: 20px;
                    font-weight: 500;
                    font-family: $HelveticaNeue-Medium;
                   
                    display: block;
                    
                }
                .group{
                    color: #a8c200;
                    font-weight: 300;
                    font-style: italic;
                    font-family: $HelveticaNeue-Light;
                    display: block;
                    font-size: 14px;
                    position: relative;
                    padding-bottom: 16px;
                    margin-bottom: 13px;
                    &::before{
                        position: absolute;
                        content: '';
                        height: 1px;
                        width: 100%;
                        background-color: #ddd;
                        bottom: 0;
                    }
                    &.group_sales{
                        color:#a8c200;
                    }
                    &.group_technical {
                        color: #fb9334!important;
                    }
                    &.group_lead{
                        color:#51c471;
                    }
                }
                .details{
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li{
                        &:not(:last-child){
                            margin-bottom: 8px;
                        }
                        i.icon.fas.fa-map-marker-alt{
                            margin-left: 2px;
                        }
                    }
                    .icon{
                        color: #9ea9bb;
                        font-size: 14px;
                        padding-right: 13px;
                    }
                    .text{
                        color: #0d0d0d;
                    }
                }
            }
            
        }
    }
    
    &--detail{
        padding-top: 85px;
        padding-bottom: 94px;
        @media screen and (max-width: 767px){
            padding: 50px 0;
        }
        .main_heading{
            padding-bottom: 33px;
        }
        .content{
            @media screen and (max-width: 991px){
                padding-bottom: 30px;
            }
            i{
                color: #9ea9bb;
            }
            &--title{
                text-transform: uppercase;
                font-family: $HelveticaNeue-Medium;
                color: #0d0d0d;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                line-height: 1.22;
                font-size: 18px;
                padding-bottom: 10px;
                padding-top: 18px;
                .fas{
                    font-size: 10px;
                    position: relative;
                    bottom: 3px;
                    // font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.27;
                    letter-spacing: normal;
                }
                i{margin-right: 5px ;}
                &:first-child{
                    padding-top: 0;
                }
            }
            &--text{
                ul{
                    line-height: 1.29;
                    color: #656565;
                    font-family: $HelveticaNeue-Light;
                    margin-bottom: 0;
                    list-style: none;
                    letter-spacing: normal;
                    padding-left: 42px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    li{ 
                        .fas{
                            font-size: 5px;
                            position: relative;
                            bottom: 3px;
                        }
                        i{margin-right: 5px;
                        }
                    }
                }
            }
        }
        .career{
            padding: 38px 40px 48px 40px;
            /*Chuyên mục*/
            border: none;
			.news_menu {
                margin: 0;
                padding: 0 0 28px 0;
                .fas.fa-angle-right {
		            color: #6d30ab;
	            }
				label{
					margin-bottom: 0;
				}
				.news_menu__title{
					color: #0d0d0d;
					line-height: 1.21;
					font-size: 24px;
                    font-weight: 500;
                    font-family: $HelveticaNeue-Medium;
				}
				li a{
					color: #0d0d0d;
					
                }
				li {
					list-style: none;
					font-size: 16px;
					line-height: 1.13;
                    padding-top: 17px;
				}
				li:hover {
					cursor: pointer;
				}
            }
            .search_position{
                .text{
                    font-size: 18px;
                    font-family: $HelveticaNeue-Medium;
                    font-weight: 500;
                    color: #0d0d0d;       
                    line-height: 1.22;         
                }
                .form-group{
                    margin-bottom: 0;
                    position: relative;
                    top: -7px;
                }
                .search_recruitment{
                    width: 100%;
                }
                input{
                    height: 48px;
                    border: 1px solid #e0e0e0; 
                    padding: 10px 30px 10px 10px;
                    outline: none;
                }
                .fas.fa-search{
                    position: relative;
                    float: right;
                    right: 15px;
                    top: 24px;
                    z-index: 1;
                    color: #25b15f ;
                }
            }
        }
        .benefit{
            box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.13);
            padding: 18px;
            background-image: linear-gradient(142deg, #6d30ab 3%, #4a3bcc 111%);
            &--employee{
                border: solid 1px rgba(255, 255, 255, 0.13);
                padding: 27px 20px 10px 23px;
                .text{
                    padding-bottom: 22px;
                    position: relative;
                    color: #ffffff;
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 25px;
                    &::before{
                        content: '';
                        height: 3px;
                        width: 32px;
                        background-color: #51c471;
                        position: absolute;
                        bottom: 0;
                        
                    }
                }
                
            }
            ul{
                padding: 0;
                color: #ffffff;
                li{ 
                    list-style: none;
                    display: flex;
                    .icon{
                        position: relative;
                        width: 32px!important;
                        height: 32px!important;
                        background-color: #ffffff;
                        border-radius: 50%;
                        i{
                            color: #6d30ab;
                            position: relative;
                            right: 19px;
                            top: 5px;
                            padding: inherit;
                        }
                    }
                    p{
                        padding-left: 14px;
                        font-weight: 300;
                        font-family: $HelveticaNeue-Light;
                        font-style: italic;
                    }
                }
            }
        }
        
    }

    .pagination{
        padding-top: 15px;
    }
}
