.sales_policy{
    padding-top: 80px;
    padding-bottom: 90px;
    @media(max-width: 767px) {
        padding: 50px 0;
    }
    .main_heading{
        padding-bottom: 40px;
        margin: 0;
        @media(max-width: 767px) {
            padding-bottom:20px;
        }
    }
    
    &--wrap{
        overflow-x: auto;
        background-color: #ffff;
        padding-bottom: 60px;
        @media(max-width:991px) {
            margin-bottom: 30px;
        }
        @media(max-width: 767px) {
            padding-bottom: 20px;
        }
    }
    &--timeline {
        background-color: #ffff;
        padding: 27px 24px 0 24px;
        margin-bottom: 27px;
        @media(max-width: 767px) {
            padding: 27px 20px 0 20px;
            width: 530px;
            margin-left: auto;
            margin-right: auto;
        }

        .item {
            @include flexbox;
            @include justify-content(center);
            @include flex-direction(row);
            position: relative;
            padding-bottom: 25px;
            padding-left: 0;

            @media(min-width: 768px) {
                @include flex-direction(row-reverse);
                padding-bottom: 25px;
                padding-left: 0;
                padding-bottom: 2.604vw;
            }

            p {
                margin: 0;
            }
            &::before {
                position: absolute;
                content: '';
                width: 3px;
                height: calc(100% - 32px);
                background-color: #6D30AB;
                top: 60px;
                left: calc(50% - 0.156vw);

                @media(max-width: 767px) {
                    left: 26%;
                }
            }

            &::after {
                position: absolute;
                content: '';
                border-radius: 50%;
                background-color: #ffffff;
                width: 18px;
                height: 18px;
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.49);
                background-image: linear-gradient(to bottom, #6d30ab, #4a3bcc);
                top: 34px;
                left: calc(50% - 10.5px);

                @media(max-width: 767px) {
                    left: calc(26% - 7px);
                }
            }

            .item--content, .item--percent {
                @media(min-width: 768px) {
                    width: calc(50%);
                    max-width: 440px;
                }
            }

            &.deposits {
                margin-left: auto;
                margin-right: auto;
                padding-bottom: 2.604vw;
                position: relative;

                @media(max-width:767px) {
                    padding-bottom: 10px;
                    justify-content: flex-start;
                }

                &::after {
                    display: none;
                }

                &::before {
                    position: absolute;
                    content: '';
                    width: 3px;
                    background-color: #6D30AB;
                    height: calc(100% - 20px) !important;
                    top: 45px !important;
                    background-color: #6D30AB;
                    left: calc(50% - 0.156vw);

                    @media(max-width: 767px) {
                        left: 26%;
                    }
                }

                .text {
                    border: solid 1px #e6e6e6;
                    background-color: #ffffff;
                    font-size: 20px;
                    font-weight: 500;
                    font-family: $HelveticaNeue-Medium;
                    letter-spacing: 0.66px;
                    color: #0d0d0d;
                    padding: 11px 22px;
                    display: inline-block;
                    position: relative;
                    z-index: 1;

                    @media(max-width:767px) {
                        font-size: 16px;
                    }
                }
                .deposits_number{
                    font-weight: 500;
                    letter-spacing: 0.6px;
                    color: #e94c4c;
                    font-style: normal ;
                }
            }

            .item--percent {
                display: inline-block;
                text-align: right;
    
                font-size: 22px;
                font-family: $HelveticaNeue-Medium;
                font-weight: 500;
                letter-spacing: 0.66px;
                color: #e94c4c;
                padding-top: 25px;
                padding-left: 25px;
                text-align: left;
                
    
                @media(max-width: 767px) {
                    font-size: 18px;
                    padding-bottom: 5px;
                    padding-left: 0;
                    padding-right: 0 !important;
                    width: 30%;
                }
            }
    
            .item--content {
                position: relative;
                padding-right: 40px;
    
                @media(max-width: 767px) {
                    padding-right: 0;
                    padding-left: 40px;
                    margin-left: 20px;
                    margin-right: 0;
    
                    width: 80%;
                }
    
                &::before {
                    position: absolute;
                    content: '';
                    width: 20px;
                    height: 20px;
                    background-color: #fff;
                    @include transform(rotate(45deg) translateX(-50%));
                    top: 40px;
                    right: auto;
                    left: 37px;
                    border: solid 1px #d6d6d6;
                    border-right: none;
                    border-top: none;

                    @media(min-width: 768px) {
                        left: calc(100% - 43px);
                        border: solid 1px #d6d6d6;
                        border-left: 0;
                        border-bottom: 0;
                    }
                }
    
                .wrap {
                    padding: 15px 14px;
                    border: solid 1px #d6d6d6;
                    background-color: #ffffff;
                    text-align: left;
                }
            }

            .text-promo {
                @include flexbox;
                @include align-items(center);
                @include justify-content(flex-start);
                font-size: 16px;
                font-weight: 300;
                font-family: $HelveticaNeue-Light;
                font-style: italic;
                letter-spacing: 0.54px;
                color: #0d0d0d;
                padding-right: 10px;

                @media(max-width:767px) {
                    font-size: 14px;
                    padding-left: 0;
                    justify-content: flex-start !important;
                    flex-direction: column;
                }
                &-number{
                    font-size: 22px;
                    font-weight: 500;
                    letter-spacing: 0.66px;
                    color: #e94c4c;
                    font-family: $HelveticaNeue-Medium;
                    padding-left: 10px;
                }
            }

            .title {
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 0.66px;
                color: #0d0d0d;

                @media(max-width:767px) {
                    font-size: 18px;
                }

                .percent {
                    font-size: 20px;
                    font-family: $HelveticaNeue;

                    @media(max-width:767px) {
                        font-size: 14px;
                    }
                }
            }

            .number {
                font-size: 22px;
                letter-spacing: 0.66px;
                color: #6d30ab;

                @media(max-width:767px) {
                    font-size: 18px;
                }
            }

            .list {
                list-style: none;
                padding-left: 0;
                li {
                    font-size: 14px;
                    font-weight: 300;
                    font-family: $HelveticaNeue-Light;
                    font-style: italic;
                    letter-spacing: 0.48px;
                    color: #656565;
                    position: relative;
                    padding-left: 15px;

                    @media(max-width:767px) {
                        font-size: 14px;
                    }

                    &::before {
                        position: absolute;
                        content: '';
                        width: 6px;
                        height: 6px;
                        background-color: #9a9a9a;
                        border-radius: 50%;
                        left: 0;
                        top: 6px;

                        @media(max-width:767px) {
                            top: 8px;
                        }
                    }

                    .value {
                        font-size: 14px;
                        letter-spacing: 0.48px;
                        color: #0d0d0d;
                        font-style: normal;
                        font-family: $HelveticaNeue;
                        @media(max-width:767px) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .boxRight {
            @include flex-direction(row);

            .item--percent {
                @include flex-direction(row);
                padding-right: 25px;
                text-align: right;
                @media(max-width: 767px) {
                    padding-bottom: 15px;
                    @include justify-content(flex-end);
                    @include flex-direction(row-reverse);
                }
                .text-promo{
                    @include justify-content(flex-end)
                }
            }

            .item--content {
                padding-left: 40px;
                padding-right: 0;
                
                &::before {
                    left: 37px;
                    border: solid 1px #d6d6d6;
                    border-right: none;
                    border-top: none;
                }
            }
        }

        .boxEnd {
            display: block;
            position: relative;
            z-index: 1;
            text-align: center;
            @media(max-width: 767px) {
                    text-align: left;
            }

            .text {
                padding: 12px 30px;
                font-weight: 500;
                font-family: $HelveticaNeue-Medium;
                letter-spacing: 0.66px;
                text-align: center;
                font-size: 20px;
                color: #51c471;
                display: inline-block;
                border: solid 1px #e6e6e6;
                background-color: #ffffff;
            }
        }
    }

    &--calculator {
        padding: 16px 20px 38px 20px;
        background-color: #fff;
        @include salesHeading;
        @include select2Element;
    }
}