.save_product{
    .main_heading{
        padding-bottom: 40px;
        @media(max-width: 767px){
            padding-bottom: 20px;
        }
    }
    .showby{
        margin-bottom: 40px;
        @media(max-width:767px){
           margin-bottom: 20px;
        }
    }
    &--login{
        box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.13);
        background-image: linear-gradient(155deg, #6d30ab 1%, #4a3bcc 120%);
        padding: 35px 25px 40px 25px;
        .heading{
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 500;
            color: #ffffff;
            line-height: normal;
            font-family: $HelveticaNeue-Medium;
        }
        .sub{
            font-size: 14px;
            font-weight: 300;
            color: #ffffff;
            margin-top: 4px;
            display: block;
            font-family: $HelveticaNeue-Light;
        }
        .btn{
            width: 100%;
            margin-top: 12px;
            margin-bottom: 15px;
        }
        .has-acc{
            text-align: center;
            color: #fff;
            .login{
                font-size: 16px;
                color: #fff;
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    &--modal{
        .modal-dialog{
            max-width: 400px;
        }
        .form_signInUp{
            box-shadow: none;
            padding: 20px 24px 35px 24px;
            .text-forgot{
                @media(max-width:767px){
                    color: #656565;
                }
            }
        }
        .btn{
            margin-bottom: 10px;
        }
    }

    &--null{
        @include flex_center;
        @include flex-direction(column);
        background-color: #fff;
        min-height: 50vh;
        padding: 4vw;
        margin-bottom: 30px;
        @media(min-width:992px){
            min-height: 1070px;
            padding: 0;
            margin-bottom: 0;
        }
        .wrap{
            max-width: 450px;
            width: 100%;
            text-align: center;
            @media(max-width:767px){
                margin:2rem;
            }
        }
        .img{
            max-width: 220px;
            margin: 0 auto;
            margin-bottom: 10px;
            img{
                width: 100%;
            }
        }
        .text{
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            color: #0d0d0d;
            font-family: $HelveticaNeue-Medium;
            line-height: normal;
            margin-bottom: 25px;
        }
        .sub_text{
            font-size: 14px;
            font-weight: 300;
            color: #656565;
            font-family: $HelveticaNeue-Light;
            margin-top: 3px;
            margin-bottom: 0;
        }
        .btn{
            max-width: 180px;
            width: 100%;
        }
    }

}