
.form_logged{
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    &--action{
        box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.13);
        background-color: #ffffff;
        padding: 12px;
        text-align: center;
        .action{
            font-size: 14px;
            font-weight: 300;
            font-style: italic;
            line-height: 1.21;
            color: #e94c4c;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .header_register--heading{
        @include flexbox;
        @include align-items(center);
        padding-top: 19px;
        background-image: linear-gradient(121deg, #6d30ab 6%, #4a3bcc 98%);
    }
    
    .avatar{
        width: 68px;
        height: 68px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 12px;
        @include flex_center;
        img{
            width: 100%;
        }
    }
    .info{

    }
    .name{
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
    .mail{
        font-style: italic;
        line-height: 1.21;
        letter-spacing: normal;
        color: rgba(255, 255, 255, 0.75);
        font-family: $HelveticaNeue-Light;
        font-size: 14px;
    }
}