@import 'project_page';
@import 'project_list';
@import 'project_detail';

.sell_tatus{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    font-family: $HelveticaNeue-Light;
    padding: 4px 10px 6px 10px;
    position: absolute;
    right: 0;
    top: 20px;
    @media(max-width:767px){
        font-size: 12px;
    }
    &::before{
        position: absolute;
        content: "";
        width: 0;
        top: 0;
        height: 100%;
        left: -15px;
        @media(max-width:767px){
            left: -14px;
        }
    }
    &.will_sell{
        background-color: #fb9334;
        &::before{
            border: 15px solid #fb9334;
            border-right: 0;
            border-left: 15px solid transparent;
            @media(max-width:767px){
                border: 14px solid #fb9334;
                border-right: 0;
                border-left: 14px solid transparent;
            }
        }
    }
    &.selling{
        background-color: #a8c200;
        &::before{
            border: 15px solid #a8c200;
            border-right: 0;
            border-left: 15px solid transparent;
            @media(max-width:767px){
                border: 14px solid #a8c200;
                border-right: 0;
                border-left: 14px solid transparent;
            }
        }
    }
}