.project_detail{

    &--filter{
        @include select2Element;

        background-color: rgba(30, 0, 61, 0.36);
        padding: 18px 30px;
        padding-bottom: 0;

        .select2-container--default .select2-selection--single{
            padding: 0.5rem 15px;
        }

        @media(max-width:767px){
            padding: 15px;

            .select2-selection.select2-selection--single {
                height:40px !important;
                padding: 0.5rem 10px;
            }
            .select2-container--default .select2-selection--single .select2-selection__rendered{
                margin: 0;
                line-height: 25px;
            }
              
        }
        

        .form-group{
            margin-bottom: 18px;
            @media(max-width:767px){
                margin-bottom: 10px;
            }
            .select2-container--default .select2-selection--single .select2-selection__rendered{
                position: relative;
                padding-left: 22px;
                &::before{
                    position: absolute;
                    font-family: "Font Awesome 5 Free";
                    font-size: 17px;
                    color: #6d30ab;
                    left: 0;
                    font-weight: 900;
                }
            }
        }

        &.column-3{
            max-width: 76.66%;
            width: 100%;
        }

        .icon_building{
            .select2-selection__rendered{
                &::before{
                    content: "\f1ad";
                }
            }
        }
        .icon_border{
            .select2-selection__rendered{
                padding-left: 25px;
                &::before{
                    content: "\f850";
                }
            }
        }
        .icon_boxes{
            .select2-selection__rendered{
                padding-left: 27px !important;
                &::before{
                    content: "\f468";
                    font-size: 16px !important;
                }
            }
        }
        .icon_boxopen{
            .select2-selection__rendered{
                padding-left: 25px !important;
                &::before{
                    content: "\f49e";
                    font-size: 16px !important;
                }
            }
        }

        .icon{
            font-size: 17px;
            color: #6d30ab;
            padding-right: 5px;
        }
    }

    &--apartment{
        padding-bottom: 60px;
        @media(max-width:767px){
            padding-bottom: 40px;
        }
        .main_heading{
            padding-top: 80px;
            padding-bottom: 40px;
            margin-bottom: 0;
            @media(max-width:767px){
                padding-bottom: 20px;
                padding-top: 50px;
            }
        }
        .right{
        }
        .apartment_detail{
            background-color: #fff;
            @include salesHeading();
            .info_1{ 
                @include flexbox;
                @include flex-wrap(wrap);
                border: solid 1px #e0e0e0;
                background-color: rgba(109, 48, 171, 0.08);
               
                .item{
                    @include flexbox;
                    @include flex-direction(column);
                    text-align: center;
                    flex: 1;
                    padding: 12px 8px;
                    
                    *{
                        line-height: normal;
                    }
                    @media(max-width:480px){
                        flex: auto;
                        width: 50%;
                        &:first-child{
                            width: 100%;
                            &::before{
                                height: 1px !important;
                                width: 100% !important;
                                right: auto !important;
                                top: auto !important;
                                bottom: 0;
                                left: 50%;
                                @include transform(translateX(-50%))
                            }
                        }
                    }
                    &:not(:last-child){
                        position: relative;
                        &::before{
                            position: absolute;
                            content: '';
                            width: 1px;
                            height: 100%;
                            background-color: rgba(109, 48, 171, 0.4);
                            right: 0;
                            top: 0;
                        }
                    }
                }
                .title{
                    font-size: 12px;
                    color: #0d0d0d;
                    margin-bottom: 2px;
                }
                .icon_info{
                    font-size: 10px;
                    padding-left: 3px;
                    color: #6d30ab;
                }
                .number{
                    font-family: $HelveticaNeue-Medium;
                    font-weight: 500;
                }
                .unit{
                    font-size: 12px;
                    color: #656565;
                }
                .water{
                    font-size: 18px;
                    color: #e94c4c;
                }
                .acreage{
                    font-size: 18px;
                    color: #51c471;
                }
                .direction{
                    font-size: 16px;
                    color: #0d0d0d;
                }
            }
            .info_2{
                padding: 16px 30px;
                padding-bottom: 40px;
                
                table{
                    width: 100%;
                    td{
                        border-bottom: 1px solid #ddd;
                        padding: 6px 0;
                        &:first-child{
                            border-bottom: none;
                        }
                    }
                    tr:last-child{
                        td{
                            border-bottom: none;
                        }
                    }
                }
                .heading{
                    font-size: 18px;
                    font-weight: 500;
                    font-family: $HelveticaNeue-Medium;
                    color: #6d30ab;
                    margin-bottom: 3px;
                }
                .icon{
                    padding-right: 10px;
                    width: 33px;
                
                }
                .icon_label{
                    font-size: 16px;
                    color: #a8c200;
                }
                .name{
                    font-size: 14px;
                    color: #0d0d0d;
                }
                .number{
                    font-size: 14px;
                    font-weight: 500;
                    font-family: $HelveticaNeue-Medium;
                    color: #0d0d0d;
                    text-align: right;
                }
            } 
        } 

        .apartment_slider{
            margin-bottom: 24px;
            position: relative;
            img{
                width: 100%;
            }
            &-for{}
            &-nav{
                background-color: #ffffff;
                padding: 10px;
                .slick-track{
                    // left: 0 !important;
                }
                .slick-list{
                    padding: 0 !important;
                    margin: 0 40px;
                    @media(max-width:767px){
                        margin: 0 30px;
                    }
                }
                .slick-slide{
                    margin: 0 5px;
                    outline: none;
                    cursor: pointer;
                    opacity: 0.55;
                    background-color: #ffffff;
                    transition: all 0.2s ease;
                }
                .slick-current{
                    opacity: 1;
                    background-color: transparent;
                }
                .slick-active{
                    
                }
                .slick-arrow{
                    position: absolute;
                    opacity: 1;
                    &::before{
                        position: absolute;
                        font-size: 16px;
                        color: #656565;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        opacity: 1;
                        top: 50%;
                        left: 50%;
                        @include transform(translate(-50%,-50%));
                    }

                }
                .slick-prev{
                    left: 15px;
                    &::before{
                        content: "\f053";
                        
                    }
                }
                .slick-next{
                    right: 15px;
                    &::before{
                        content: "\f054";
                    }
                }
            }
            .image_type{
                position: absolute;
                top: 20px;
                left: 24px;
                @media(max-width:767px) {
                    top: 10px;
                    left: 15px;
                }
            }
            .wrap{
                height: 0;
                visibility: hidden;
                transition: all 0.3s ease;
                opacity: 0;
                &.active{
                    opacity: 1;
                    height: auto;
                    visibility: visible;
                }
            }
            
        }

        .sales_collapse{
            margin-bottom: 24px;
            .card{
                border:none;
            }
            .card-header{
                @include flexbox;
                @include align-items(center);
                @include justify-content(space-between);
                padding: 16px 24px;
                border:none;
                border-radius: 0;
                background-color: #fff;
                
            }
            .title{
                font-size: 24px;
                font-weight: 500;
                font-family: $HelveticaNeue-Medium;
                color: #0d0d0d;
                margin: 0;
                @media(max-width:767px){
                    font-size: 20px;
                }
            }
            .icon_collapse{
                @include flex_center;
                width: 31px;
                height: 31px;
                background-color: #51c471;
                border-radius: 50%;
                font-size: 12px;
                color: #ffffff;
            }
            .icon_action{}
            .collapse{
                padding: 13px 24px 20px 24px;
                border-top: 1px solid #dee2e6;
            }
        }
        .description{
            font-weight: 300;
            font-size: 16px;
            color: #0d0d0d;
            margin-bottom: 25px;
            p{
                margin-bottom: 0;
                line-height: 1.44;
            }
        }
        .image_type {
            @include flexbox;
            padding: 0;
            margin: 0;
            list-style: none;
            z-index: 1;

            li {
                @include transition(all 0.2s);
                @include flex_center;
                width: 44px;
                height: 44px;
                font-size: 16px;
                background-color: #ffffff;
                border-radius: 50%;
                
                font-weight: 500;
                font-family: $HelveticaNeue-Medium;
                letter-spacing: 0.48px;
                color: #0d0d0d;
                text-transform: uppercase;

                @media(max-width:767px) {
                    width: 30px;
                    height: 30px;
                    font-size: 12px;
                }

                &:not(:last-child) {
                    margin-right: 11px;

                    @media(max-width:767px) {
                        margin-right: 10px;
                    }
                }

                &:hover,
                &.active {
                    background-color: #6d30ab;
                    color: #fff;
                    cursor: pointer;
                    .icon{
                        color: #fff;
                    }
                }
                .icon{
                    font-size: 18px;
                    color: #0d0d0d;
                }
            }
            .type_2d {}
            .type_3d {}
            .type_ar {}
        }
    }

    .main_heading{
        margin-bottom: 25px;
        @media(max-width:767px){
           margin-bottom: 10px;
        }
    }
    .searchProject{
        margin-top: 18px;
        @media(max-width:1199px){
            margin-top: 0;
        }
    }

    .striking_apartment--content{
        .child {
            white-space: nowrap;
        }
        .details .text{
            @media(max-width:1199px){
                letter-spacing: -0.5px;
            }
            @media(max-width:767px){
                letter-spacing: normal;
            }
        }
    }

    .pagination{
        padding-top: 0;
    }

}