<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- font awesome  ------------------------------------------------------------>
    <link rel="stylesheet" href="./assets/font-awesome/fontawesome-free-5/all.min.css">
    <link rel="stylesheet" href="./assets/font-awesome/lineawesome/line-awesome.min.css">

    <!-- css libs  ------------------------------------------------------------>
    <link rel="stylesheet" href="./assets/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/libs/select2/select2.min.css">
    <link rel="stylesheet" href="./assets/libs/slick/slick.css">
    <link rel="stylesheet" href="./assets/libs/slick/slick-theme.css">
    <link rel="stylesheet" href="./assets/libs/bootstap-hover/bootstrap-dropdownhover.min.css">
    <!-- end css libs  -------------------------------------------------------->
</head>
<body>
    {% include "../view-components/_header.twig" %}

    <div id="app"></div>

    <script src="./js/index.js"></script>

    <script src="./assets/libs/jquery/jquery-3.4.1.min.js"></script>
    <script src="./assets/libs/bootstrap/js/popper.min.js"></script>
    <script src="./assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="./assets/libs/bootstrap-slider/bootstrap-slider.min.js"></script>
    <script src="./assets/libs/select2/select2.js"></script>
    <script src="./assets/libs/slick/slick.min.js"></script>
    <script src="./assets/libs/bootstap-hover/bootstrap-dropdownhover.js"></script>
    <script src="./assets/libs/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="./assets/libs/lightbox/ekko-lightbox.min.js"></script>

</body>
</html>