.user-acc{
    &__project{
        .pagination{
            padding-top: 15px;
        }
    }
    
}




// payment_status
.payment_status_1{
    color: #389b54;
}
.payment_status_2{
    color: #6d30ab;
}
.payment_status_3{
    color: #df5c4e;
}
.payment_status_4{
    color: #f69524;
}
.payment_status_5{
    color: #6d6d6d;
}


.payment_status_bg_1{
    background-color: #389b54;
}
.payment_status_bg_2{
    background-color: #6d30ab;
}
.payment_status_bg_3{
    background-color: #df5c4e;
}
.payment_status_bg_4{
    background-color: #f69524;
}
.payment_status_bg_5{
    background-color: #6d6d6d;
}


.payment_status_border_1{
    border:1px solid #389b54;
}
.payment_status_border_2{
    border:1px solid #6d30ab;
}
.payment_status_border_3{
    border:1px solid #df5c4e;
}
.payment_status_border_4{
    border:1px solid #f69524;
}
.payment_status_border_5{
    border:1px solid #6d6d6d;
}