.latest_news{
    padding: 80px 0 90px 0;
    @media(max-width:767px){
        padding: 50px 0 50px 0;
    }
    &--heading{
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);
        margin-bottom: 35px;
        @media(max-width:767px){
            @include flex-direction(column);
            @include align-items(flex-start);
            margin-bottom: 20px;
        }
        .main_heading{}
        .readmore{
            font-size: 16px;
            color: #9a9a9a;
            text-transform: uppercase;
            padding-right: 24px;
            position: relative;
            font-family: $HelveticaNeue-Light;
            @media(max-width:767px){
                margin-top: 10px;
                text-align: center;
                width: 100%;
                max-width: 110px;
                margin-left: auto;
                margin-right: 0;
            }
            @-webkit-keyframes readmore_linear {
                0% {opacity: 1; transform: translateX(0px) scale(1);}
                25%{opacity: 0; transform:translateX(10px) scale(0.9);}
                26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
                55% {opacity: 1; transform: translateX(0px) scale(1);}
            }
            @-moz-keyframes readmore_linear {
                0% {opacity: 1; transform: translateX(0px) scale(1);}
                25%{opacity: 0; transform:translateX(10px) scale(0.9);}
                26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
                55% {opacity: 1; transform: translateX(0px) scale(1);}
            }
            @-o-keyframes readmore_linear {
                0% {opacity: 1; transform: translateX(0px) scale(1);}
                25%{opacity: 0; transform:translateX(10px) scale(0.9);}
                26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
                55% {opacity: 1; transform: translateX(0px) scale(1);}
            }
            @keyframes readmore_linear {
                0% {opacity: 1; transform: translateX(0px) scale(1);}
                25%{opacity: 0; transform:translateX(10px) scale(0.9);}
                26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
                55% {opacity: 1; transform: translateX(0px) scale(1);}
            }

            .icon{
                font-size: 16px;
                color: #9a9a9a;
                position: absolute;
                right: 0;
                top: 4px;
                animation-name: readmore_linear;
                animation-duration:1.4s;
                animation-iteration-count:infinite;
                animation-timing-function:linear;
                &::before{
                    font-weight: 900;
                }
            }
        }
    }
    &--content{
        .item{
            @include transition(all 0.2s ease);
            background-color: #ffffff;
            @media(max-width: 991px){
                margin-bottom: 30px;
            }
            &:hover{
                box-shadow: 0 0 30px 0 rgba(0,0,0,0.12);
            }
        }
        .box{
            padding: 30px 25px 35px 25px;
            flex: 1;
        }
        .img{
            max-height: 340px;
            width: 100%;
            position: relative;
            overflow: hidden;
            @include flex_center;
        }
        .name{
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 18px;
            margin-bottom:  17px;
            position: relative;
            font-family: $HelveticaNeue-Medium;
            a{
                color: #0d0d0d;
                &:hover{
                }
            }
            &::before{
                position: absolute;
                content: '';
                width: 40px;
                height: 3px;
                background-color: #6d30ab;
                bottom: 0;
                left: 0;
            }
        }
        .des{
            font-size: 14px;
            color: #656565;
            padding-bottom: 20px;
        }
        .time{
            color: #0d0d0d;
            font-size: 12px;
            font-weight: 500;
            font-family: $HelveticaNeue-Medium;
            .icon{
                color: #6d30ab;
                font-size: 14px;
                padding-right: 7px;
            }
        }

        // slider 
        .slick-slide {
            margin: 0 12px;
        }
        .slick-list {
            margin: 0 -12px;
        }
        .slick-track{
            @include flexbox;
            @include flex-wrap(wrap);
            .slick-slide{
                height: auto;
                @include flexbox;
                @include align-items(center);
                @include flex-direction(column);
            }
        }
        .slick-arrow{
            z-index: 1;
            opacity: 1;
            width: 36px;
            height: 38px;
            background-color: rgba(0, 0, 0, 0.3);
            top: 50%;
            @include transform(translateY(-50%));
            &::before{
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 16px;
                opacity: 1;
            }
        }
        .slick-next{
            right: 0;
            &::before{
                content: "\f054";
            }
        }
        .slick-prev{
            left: 0;
            &::before{
                content: "\f053";
            }
        }
        .slick-disabled{
            &::before{
                opacity: 0.5;
            }
        }
    }
}